.idea
node_modules
.env*
dist

# A local pull of https://github.com/modelcontextprotocol
docs/MCP/
# Some DXT examples from Claude
examples/claude/
#
docs/@alcyone-labs/
*.log
tests/fixtures/

# Keep icons
!docs/MCP/icons

.gemini
.opencode
.factory
